---
import Navbar from './Navbar.astro'


---

<section>
  <article>
    <a href="#">Agregar usuario</a>
    <a href="#">Agregar libro</a>
  </article>

  <Navbar />

  <article>

  </article>
</section>