---
---

<header>
  <h1>Admin Page</h1>
</header>
<section>
  <article>
    <header>
      <h3>Categories management</h3>
    </header>
    <div>
      <a href="/admin/users">Users</a>
      <a href="/admin/books">Books</a>
    </div>
  </article>
</section>

<style>
  h1 {
    text-align: center;
    font-size: 36px;
    margin-top: 50px;
    color: peru;
  }

  h3 {
    font-size: 23px;
    color: #cd863fd2;
    width: 85%;
    margin: 0 auto;

  }

  div {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    gap: 35px;
  }

  a:hover {
    color: black;
    background-color: powderblue;
  }

  a {
    text-decoration: none;
    color: whitesmoke;
    background-color: lightslategrey;
    width: 35%;
    margin: 0 auto;
    text-align: center;
    height: 25px;
    line-height: 30px;
    padding: 25px;
    border-radius: 8px;
    transition: all ease 0.3s;
  }
</style>