---

---

<section>
  <header>
    <h1>Login</h1>
  </header>

  <form action="">
    <div>
      <label for="email">Email</label>
      <input id="email" type="text" placeholder="algo@correo.com" />
    </div>
  
    <div>
      <label for="pass">Password</label>
      <input type="password" placeholder="Password">
    </div>

    <button type="submit">Ingresar</button>
  </form>


</section>