---

---

<section>
  <article class="data-container">
    <div class="data-info">
      <div>
        <span>Usuario:</span>
        <p>aguine65</p>
      </div>

      <div>
        <span>Nombre:</span>
        <p>Raul</p>
      </div>

      <div>
        <span>Correo:</span>
        <p>raul@correo.com</p>
      </div>

      <div>
        <span>Fecha registro:</span>
        <p>20/12/12</p>
      </div>
    </div>
  </article>
</section>

<style>
  
</style>