---
import Layout from '../../../../layouts/Layout.astro'

---

<Layout>
  <section>
    <h1>Nombre del libro</h1>

    <article>
      <div>
        <span>Nombre:</span>
        <p>Libro</p>
      </div>
      <div>
        <span>Autor:</span>
        <p>Jose</p>
      </div>
      <div>
        <span>Paginas:</span>
        <p>200</p>
      </div>
      <div>
        <span>Año:</span>
        <p>2025</p>
      </div>
    </article>
  </section>
</Layout>

<style>
  
</style>