<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Auth template</title>
	</head>
	<body>
		<slot />
	</body>
	<footer>
		<span>Page footer</span>
	</footer>
</html>

<style>
	body {
		margin: 0;
		height: 100dvh;
		display: flex;
		flex-direction: column;
		background-color: #3e3b42;
	}

	footer {
		margin-top: auto;
		padding: 15px;
	}
</style>
